@use "sass:color";
@use "sass:map";

// Base16 theme variables
// $base00: #1a1b26; // Dark background
// $base01: #16161e; // Darker background
// $base02: #2f3549; // Selection background
// $base03: #444b6a; // Comments, invisibles
// $base04: #787c99; // Dark foreground
// $base05: #a9b1d6; // Default foreground
// $base06: #cbccd1; // Light foreground
// $base07: #d5d6db; // Light background
// $base08: #c0caf5; // Variables
// $base09: #a9b1d6; // Integers, booleans
// $base0A: #0db9d7; // Classes, HTML tags
// $base0B: #9ece6a; // Strings
// $base0C: #b4f9f8; // Support, regex
// $base0D: #2ac3de; // Functions, methods
// $base0E: #bb9af7; // Keywords
// $base0F: #f7768e; // Deprecated

@import '../../../../.config/charon-shell/style.scss';
@import './tailwind.scss';

* {
  box-shadow: none;
  animation-duration: 250ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

slider {
  all: unset;
}

scale {
  padding: 0;
  margin: .4rem 0;

  trough {
    min-height: 8px;
  }

  highlight {
    background-color: $base0A;
  }
}

.transparent {
  background-color: transparent;
}

.hover-transparent:hover {
  background-color: transparent;
}

.unset {
  all: unset;
}
